<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/_title.ejs") %>
    <style>
        div{
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<%- include("partials/_navbar.ejs") %>
<body>
    <div>
        <% myAnimals.forEach(Animal =>){ %>

            <li>
                <h3>Common Name: <%= Animal.commonName %></h3>
                <h4>Gender: <%= Animal.gender %></h4>
                <h4>Age: <%= Animal.age %></h4>
                <h4>Home Zoo: <%= Animal.homeZoo %></h4>
                <h4>Given Name: <%= Animal.givenName %></h4>
                <form action="/deleteAnimal/<%= animal.givenName %>"
                method ="POST">
                    <input type="submit" value="Delete Animal"/>
                    <input type="submit" value="Edit Animal" />
                </form>
            </li>
        
        <% } %>
    </div>
</body>
</html>